<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span><b>Quên mật khẩu</b></span>
        <span class="spacer"></span>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography dialog-container">
    <form [formGroup]="forgotPasswordForm">
        <div fxFlex fxLayout="column">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>
                <mat-error *ngIf="forgotPasswordForm.controls.email.invalid && forgotPasswordForm.controls.email.touched">
                    <span *ngIf="forgotPasswordForm.controls.email.errors?.required">Trường này không được để trống</span>
                    <span *ngIf="forgotPasswordForm.controls.email.errors?.pattern">Nhập sai kiểu dữ liệu</span>
                </mat-error>
            </mat-form-field>
            
            
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()" [disabled]="!forgotPasswordForm.valid">
        <mat-icon>send</mat-icon> Gửi mật khẩu 
    </button>
    <button mat-raised-button color="warn" mat-dialog-close>
        <mat-icon>cancel</mat-icon> Đóng
    </button>
</mat-dialog-actions>