<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
      <span><b>Đổi Mật Khẩu</b></span>
      <span class="spacer"></span>
      <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-dialog-content class="mat-typography dialog-container">
    <form [formGroup]="changePasswordForm">
      <div fxLayout="column" fxLayoutGap="20px"> <!-- Khoảng cách giữa các trường -->
        
        <!-- Trường Old Password -->
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Mật khẩu cũ</mat-label>
          <input matInput formControlName="oldPassword" type="password" required [type]="oldPassword ? 'password' : 'text'">
          <button type="button" mat-icon-button matSuffix (click)="oldPassword = !oldPassword" [attr.aria-label]="'Ẩn mật khẩu'" [attr.aria-pressed]="oldPassword">
            <mat-icon>{{ oldPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="changePasswordForm.controls.oldPassword.invalid && changePasswordForm.controls.oldPassword.touched">
            <span *ngIf="changePasswordForm.controls.oldPassword.errors?.required">Trường này không được để trống</span>
          </mat-error>
        </mat-form-field>
  
        <!-- Trường New Password -->
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Mật khẩu mới</mat-label>
          <input matInput formControlName="newPassword" type="password" required [type]="newPassword ? 'password' : 'text'">
          <button type="button" mat-icon-button matSuffix (click)="newPassword = !newPassword" [attr.aria-label]="'Ẩn mật khẩu'" [attr.aria-pressed]="newPassword">
            <mat-icon>{{ newPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="changePasswordForm.controls.newPassword.invalid && changePasswordForm.controls.newPassword.touched">
            <span *ngIf="changePasswordForm.controls.newPassword.errors?.required">Trường này không được để trống</span>
          </mat-error>
        </mat-form-field>
  
        <!-- Trường Confirm Password -->
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Xác nhận mật khẩu mới</mat-label>
          <input matInput formControlName="confirmPassword" type="password" required [type]="confirmPassword ? 'password' : 'text'">
          <button type="button" mat-icon-button matSuffix (click)="confirmPassword = !confirmPassword" [attr.aria-label]="'Ẩn mật khẩu'" [attr.aria-pressed]="confirmPassword">
            <mat-icon>{{ confirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="changePasswordForm.controls.confirmPassword.invalid && changePasswordForm.controls.confirmPassword.touched">
            <span *ngIf="changePasswordForm.controls.confirmPassword.errors?.required">Trường này không được để trống</span>
          </mat-error>
          <mat-hint *ngIf="validateSubmit() && !(changePasswordForm.controls.confirmPassword.invalid)">
            <span>Mật khẩu mới và xác nhận mật khẩu không khớp</span>
          </mat-hint>
        </mat-form-field>
        
      </div>
    </form>
  </mat-dialog-content>
  
  <mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" (click)="handlePasswordChangeSubmit()"
            [disabled]="validateSubmit() || !(changePasswordForm.valid && changePasswordForm.dirty)">
      <mat-icon>save</mat-icon> Cập nhật
    </button>
    <button mat-raised-button color="warn" mat-dialog-close>
      <mat-icon>cancel</mat-icon> Đóng
    </button>
  </mat-dialog-actions>
  