mat-toolbar {
    background-color: #1976d2;  // Màu nền của thanh công cụ
    color: white;
    padding: 10px 20px;
    border-radius: 8px; // Thêm bo góc cho thanh công cụ
  }
  
  mat-toolbar-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .spacer {
    flex-grow: 1;  // Tạo không gian trống giữa tiêu đề và nút đóng
  }
  
  button.mat-icon-button {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 6px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;  /* Đảm bảo icon có kích thước đủ lớn */
  
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  
    i {
      color: white;  /* Đảm bảo màu sắc của icon */
    }
  }
  
  
  .dialog-container {
    width: auto;
    margin-left: 10px;
    padding: 10px;
    border-radius: 20px;
    background: #ffffff; 
    justify-content: center;
  }
  
  
  mat-form-field {
    width: 90%;
    margin-bottom: 5px;
    justify-content: center;
    margin-right: 10px;
  }
  
  .mat-mdc-form-field {
    border-radius: 20px;
    background: #f8f9fa;
  }
  
  mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  button {
    border-radius: 5px;
    font-weight: bold;
  }
  
  button[color="primary"] {
    background: #0ae536;
    color:white;
  }
  
  button[color="warn"] {
    background: #d32f2f;
    color: white;
  }